.continer{
    border: 2px solid black;
    background-color: black;
    height: 400px;
    width: 100%;
    margin-bottom: 20%;
    position: relative;
}

.black{
    opacity: 0;
    margin-top: 260px; 
    margin-left: 40%;
    transform: translate(30px,30px);
    animation-duration: 3s;
    animation-iteration-count: 1; /* Changed from infinite to 2 */
    animation-name: block;
    animation-fill-mode: forwards;
    position: sticky;
}

@keyframes block {
    from{
        opacity: 1;
        margin-top: 260px; 
        margin-left: 40%;
    }
    to{
        opacity: 1;
        margin-top: 120px;
        margin-left: 40%;
    }
}

.arriv{
 color: white;
 font-size: 56px;
}

.con2{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.conbtn{
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.arrowa{
    color: rgba(253, 188, 66, 0.774);
    margin-top: 6px;
    margin-left: 1%;
}

.new{
    color: white;
    margin-top: 6px;
    margin-left: 1%;
}

.con2{
    margin-left: 3%;
    margin-top: 2%;
}