.footerimg {
  margin-top: 13%;
  margin-left: 10%;
}

.mainf {
  border: 2px solid black;
  height: 500px;
  width: 100%;
  background-color: black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: white;
}

.box1,
.box2,
.box3,
.box4 {
  height: 180px;
  margin-top: 10%;
}

.box1 {
  width: 30%;
  margin-left: 10%;
}

.box2,
.box3,
.box4 {
  width: 10%;
  margin-left: 4%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.imgf {
  height: 110px;
  width: 60%;
  margin-left: 10%;
}

.pref {
  height: 60px;
  width: 65%;
  margin-left: 10%;
  margin-top: 2%;
}

.facebook {
  height: 20px;
  width: 4%;
  margin-left: 30%;
  background-color: white;
}

/* Paragraph links */
.pf1,
.pf2,
.pf3,
.pf4,
.pf5,
.pf6,
.pf7,
.pf8,
.pf9,
.pf10,
.pf11 {
  color: white;
  text-decoration: none;
}

.pf1,
.pf5,
.pf11 {
  margin-top: 3%;
}

.pf1:hover,
.pf2:hover,
.pf3:hover,
.pf4:hover,
.pf5:hover,
.pf6:hover,
.pf7:hover,
.pf8:hover,
.pf9:hover,
.pf10:hover,
.pf11:hover {
  color: rgba(253, 188, 66, 0.774);
}

/* Footer Line */
.fl {
  border: 2px solid rgba(253, 188, 66, 0.774);
  height: 70px;
  width: 100%;
  background-color: rgba(253, 188, 66, 0.774);
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
}

.pfl {
  margin-left: 3%;
  font-size: 15px;
  color: white;
}

.imgfl {
  height: 20px;
  width: 10%;
  margin-left: 40%;
}
