.navbar-wrapper {
  background-color: rgba(253, 188, 66, 0.774);
}

.top-bar {
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0 2%;
  gap: 30px;
}
.para{
  margin-left: 24%;
  margin-top: 10px;
}
.name{
  font-weight: bold;
}
.nav-links .home{
  margin-left: 50px;
}
.nav-links .home,
.nav-links .arrival1,
.nav-links .casual,
.nav-links .maxi,
.nav-links .formal,
.nav-links .party,
.nav-links .winter,
.nav-links .shawl,
.nav-links .diary,
.nav-links .contact {
  font-size: 18px;
  color: black;
  position: relative;
  text-decoration: none;
    margin-right: 30px;
  background-color: transparent;
}

.nav-links .home:hover,
.nav-links .arrival1:hover,
.nav-links .casual:hover,
.nav-links .maxi:hover,
.nav-links .formal:hover,
.nav-links .party:hover,
.nav-links .winter:hover,
.nav-links .shawl:hover,
.nav-links .diary:hover,
.nav-links .contact:hover {
  color: rgba(253, 188, 66, 0.774);
}

.nav-links .home::after,
.nav-links .arrival1::after,
.nav-links .casual::after,
.nav-links .maxi::after,
.nav-links .formal::after,
.nav-links .party::after,
.nav-links .winter::after,
.nav-links .shawl::after,
.nav-links .diary::after,
.nav-links .contact::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  height: 2px;
  width: 0;
  background-color: black;
  transition: width 0.3s;
}

.nav-links .home:hover::after,
.nav-links .arrival1:hover::after,
.nav-links .casual:hover::after,
.nav-links .maxi:hover::after,
.nav-links .formal:hover::after,
.nav-links .party:hover::after,
.nav-links .winter:hover::after,
.nav-links .shawl:hover::after,
.nav-links .diary:hover::after,
.nav-links .contact:hover::after {
  width: 100%;
}

.icon-link {
  margin-left: 10px;
  color: black;
}
